<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <meta content="width=device-width, initial-scale=1" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          name="viewport">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <h1>Svarovski</h1>
    <hr>
    <nav>
        <ul class="sv-navbar-home">
            <li>
                <a href="index.html">Accueil</a>
            </li>
            <li>
                <a href="/jewel">Nos bijoux</a>
            </li>
            <li>
                <a href="/addjewel">Ajouter un bijou</a>
            </li>
            <li>
                <a class="connect" href="/login" icon="/images/cartIcon.ico">Se connecter</a>
            </li>
        </ul>
    </nav>
    <hr>
</header>



<footer>
    <span><a href="/ml">Mentions légales          </a></span>
    <span><a href="/cgv">| Conditions générales de vente</a></span>
</footer>

</body>
</html>