<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentions légales</title>
</head>
<body>

<div>
    Swarovski France S.A.S.
    13 Boulevard Berthier
    FR-75017 Paris
    France
    <hr>
    Société enregistrée au registre du Commerce de Paris, sous la référence : 732 058 698
    <br> Société enregistrée au registre du Commerce de Paris, sous la référence : 732 058 698
    <br>Numéro de TVA en France: FR 76 732 058 698
    <hr>
    <p>Mentions légales</p>
    Swarovski s’est vu attribuer des identifiants uniques (IDU) attestant de son enregistrement au registre des producteurs suivants :
    <br>

    Filière DEEE :  IDU FR004401_05SEWB
    Filière Emballages-Papier : IDU  FR004401_01MCJV
    Filière Piles & accus: IDU  FR022976_06QM9K
</div>

</body>
</html>