<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TP ENI</title>
</head>
<body>
<header>
  <h1>Svarovski</h1>
  <div id="sv-img"></div>
  <hr>
  <!--<div class="headerImg"><img src="/images/banniereImg.jpg"></div>-->
  <nav>
    <ul class="sv-navbar-home">
      <li>
        <a href="/">Accueil</a>
      </li>
      <li>
        <a href="/jewel">Nos bijoux</a>
      </li>
      <li>
        <a href="/addjewel">Ajouter un bijou</a>
      </li>
      <li><a href="/user/login">Se connecter</a></li>
    </ul>
  </nav>
  </div>

  <hr>

</header>
<main>
  <form action="/user/subscription" method="post" data-th-object="${user}">
    <h2>S'inscrire</h2>
    <ul>
      <li><label for="inputLastName">Nom </label> <input type="text" id="inputLastName" data-th-field="*{lastName}"></li>
      <li><label for="inputFirstName">Prénom </label> <input type="text" id="inputFirstName" data-th-field="*{firstName}"></li>
      <li><label for="inputEmail">Email </label> <input type="email" id="inputEmail" data-th-field="*{email}"></li>
      <li><label for="inputPhone">Téléphone </label> <input type="phone" id="inputPhone" data-th-field="*{phone}"></li>
      <li><label for="inputPwd">Mot de passe : </label> <input type="password" id="inputPwd" data-th-field="*{password}"></li>
      <li><label for="retypedPassword">Confirmation Mot de passe : </label> <input type="password" id="retypedPassword" data-th-field="*{retypedPassword}"></li>

      <li><label for="inputAddress">Adresse : </label> <input type="text" id="inputAddress" data-th-field="*{address}"></li>
      <li><label for="inputZipCode">Code Postal : </label> <input type="text" id="inputZipCode" data-th-field="*{zipCode}"></li>
      <li><label for="inputCity">Ville : </label> <input type="text" id="inputCity" data-th-field="*{city}"></li>
      <li>
        <button type="submit">Valider</button>
      </li>
    </ul>
  </form>
</main>
<footer>
  <span><a href="/ml">Mentions légales          </a></span>
  <span><a href="/cgv">| Conditions générales de vente</a></span>
</footer>
</body>
</html>